*{margin: 0;
    box-sizing: border-box;
}
main{
    padding-top: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo_front_container{
    padding-top: 45%;
    
    display: flex;
    width: 326px;
    height: 436px;
    border-radius: 35px;
    flex-direction: column;
    align-items: center;
}
#logo_contain{
    width: 100px;
    height: 100px;
}
#logo{
    width: 100%;
}

#title_contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#hi_container{
    display: flex;
    margin-top: 15%;
    justify-content: center;
    font-size: 1.5rem;
}
#title_contain>h3{
    color: #b1d45c
}
h4{
    color: #6f862c
}
h5{
    color: #4f611b
}
