* {
    margin: 0;
    box-sizing: border-box;
}

#firstScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 812px;
}

#hiTitle {
    padding-top: 50px;
}

#inputUser {
    margin-top: 50px;
}