#forum {
    background: url('../Images//background-myplants.png');
}

#subConteinerForum {
    height: 708px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleForum {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 339px;
    height: 51px;
    background-color: white;
    border: 2px solid #AAD04A;
    border-radius: 10px;
}

#shareExperience {
    margin-top: 20px;
    height: 33px;
    width: 339px;
    background-color: #D5EEF2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.individualPost {
    width: 500px;
}

#postsConteiner {
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#postsConteiner::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#postsConteiner {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}