#myplantsContainer {
    background-image: url("../Images/background-myplants.png");
    padding: 5%;
    height: 708px;
}

#whiteContainer {
    display: flex;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.692);
    height: 560px;
    border-radius: 20px;
}

#myplantsTitle {
    display: flex;
    justify-content: space-between;
    color: #50555C;
    font-size: 1.1rem
}

#myplantsTitle>span {
    display: flex;
}

#plantsContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 30px 50px;
    overflow: scroll;
    gap: 10px;
}

/* Hide Scrollbar for Chrome */
#plantsContainer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#plantsContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
}