#logInScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

#caringText {
    color: #a8cf45;
}

#ecosystemsText {
    color: #396c11
}

.inputUserScreen {
    background-color: #aad04a;
    width: 339px;
    height: 52px;
    border: 1px solid black;
    border-radius: 22px;
    margin: 15px 0 12px 0;
    font-size: 1.2rem;
    padding-left: 15px;
    outline: none;
}

.inputUserScreen::placeholder {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonUserScreen {
    background-color: #d5eef2;
    width: 165px;
    height: 36px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 22px;
    margin-bottom: 20px;
    box-shadow: 0 3px 3px 1px rgba(128, 128, 128, 0.473);
    font-size: 1rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonSocialNetwork {
    background-color: white;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #B5ED93;
    border-radius: 22px;
    width: 339px;
    height: 42px;
    font-size: 1rem;
    margin-bottom: 15px;
    box-shadow: 1px 5px 4px 0px rgba(129, 129, 129, 0.575);
    text-shadow: 1px 1px 5px rgba(128, 128, 128, 0.938);
}