#userProfileSection {
    height: 708px;
}

#editProfileTitle {
    text-align: center;
    padding-bottom: 30px;
}

#firstContainerUserProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#profilePicture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#informationUser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#informationUser>h3 {
    width: max-content;
}

#informationUser>p {
    width: max-content;
}

#photoProfile {
    height: 70px;
    width: 70px;
}

#photoContainerProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#statisticsTitle {
    padding-top: 30px;
    text-align: center;
    font-size: 1.6rem;
}

.usernameContainerProfile {
    padding: 0 10px;
}

.titlesProfile {
    font-size: .9rem;
}

.userParagraphInfo {
    border-bottom: 1px solid black;
}

#statisticsSection {
    padding-left: 10px;
    font-size: 1.2rem;
}

#termsAndConditionParagraph {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 120px
}